<div class="container">
    <div class="container-innner">
        <ul class="sui-nav nav-tabs nav-xlarge" style="padding: 75px 75pxpx 0px 10px;">
            <li ui-sref-active="active">
                <a href ui-state="'member.product.stock.link'">商品关联</a>
            </li>
            <li ui-sref-active="active">
                <a href ui-state="'member.product.stock.sync'">自动同步</a>
            </li>
            <li ui-sref-active="active">
                <a href ui-state="'member.product.stock.add'">自动补库存</a>
            </li>
        </ul>
    </div>
</div>