<div class="modal-dialog" align="left">
	<div class="modal-header">
		<button type="button" data-dismiss="modal" aria-hidden="true" class="sui-close">&times;</button>
		<h4 class="modal-title">详情页折扣价不显示解决方法</h4>
	</div>
	<div class="modal-body">
		<span>淘宝默认商品最低打7折，若低于7折，必须“手动设置最低折扣值”，才能使详情页正常显示折扣价。</span><br />
		<span>设置方法：点右侧链接 <a type="button" class="sui-btn btn-primary btn-xs" href="https://smf.taobao.com/promotion/show_other_activity.htm?qq-pf-to=pcqq.c2c" target="_blank">修改折扣最低值</a>&nbsp;进入如下画面。</span>
		<div class="minDiscountSet"></div>
		<span>点“修改”，数字填写0.1，点确定。</span><br />
		<span>注意此处修改的是店铺允许设置的最低折扣值，并不是将店铺商品的折扣设置为0.1折，不会改变您店铺商品的实际折扣值。</span>
	</div>
	<div class="modal-footer">
		<button class="sui-btn btn-default" type="button" data-dismiss="modal">关闭</button>
	</div>
</div>
