<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body" style="max-height:none;min-height:40px;font-size:14px;text-align:center;line-height: 40px;"><i class="sui-icon icon-tb-warn"></i>
        <div>{{item.errorMessage}}</div>
        <div ng-show="item.selectHref">检测到您未开通账期保障：<br><a href="https://xiaobao.taobao.com/contract/order_insurance.htm" target="_blank" class="sui-btn btn-bordered btn-info">点击这里开通账期保障后重新复制即可成功</a></div>
      </div>
      <div class="modal-footer" style="text-align: center;background-color: #ffffff;padding: 7px 10px 15px;">
        <button type="button" data-dismiss="modal" aria-hidden="true" data-ok="modal" class="sui-btn btn-primary btn-large">关闭</button>
      </div>
    </div>
</div>
