<div class="container">
	<div class="container-innner">
		<ul class="sui-nav nav-tabs nav-xlarge" style="padding: 75px 75pxpx 0px 10px;">
		    <li ui-sref-active="active">
		        <a href ui-state="'member.product.copy.taobaoandtmall'">复制淘宝/天猫宝贝</a>
		    </li>
            <li ui-sref-active="active">
                <a href ui-state="'member.product.copy.alAndJdall'">复制阿里/京东宝贝</a>
            </li>
            <li ui-sref-active="active">
                <a href ui-state="'member.product.copy.copyrecord'">复制记录</a>
            </li>
		</ul>
	</div>
</div>