<div class="container">
    <div class="container-innner">
        <ul class="sui-nav nav-tabs nav-xlarge" style="padding: 75px 75pxpx 0px 10px;">
            <li ui-sref-active="active">
                <a href ui-state="'member.flowcarefree.advert.advert'">广告投放</a>
            </li>
            <li ui-sref-active="active">
                <a href ui-state="'member.flowcarefree.advert.myadvert'">已投放的文章</a>
            </li>
            <li ui-sref-active="active">
                <a href ui-state="'member.flowcarefree.advert.myadvertfaile'">投放已过期文章</a>
            </li>
        </ul>
    </div>
</div>