<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 id="myModalLabel" class="modal-title" style="text-align: center">请用手机扫描二维码，查看真实效果</h4>
        </div>
        <div class="modal-body" style="text-align: center">
            <qrcode version="7" error-correction-level="M" size="150" data="{{qrcodeUrl}}"> </qrcode>
        </div>
        <div class="modal-footer" style="text-align: center;">
           <button type="button" class="sui-btn btn-primary btn-large" data-ok="modal">关闭</button>
        </div> 
    </div>
  </div>