<div class="container">
    <div class="container-innner" style="margin-top:-25px;">
        <div class="developphonedetail" style="display:flex;justify-content:flex-start;margin-top:30px;">
            <div class="developphonedetailtable" style="width:100%;float:left">
                <div class="developHeader flex">
                </div>
                <div style="margin-top:15px;">
                   <table class="sui-table table-bordered">
                        <thead style="background-color:#f4f4f4;font-weight: bold;">
                              <tr>
                                  <td width="10%" class="center">已投放图片</td>
                                  <td width="50%" class="center">标题</td>
                                  <td width="20%" class="center">投放时间</td>
                                  <td width="20%" class="center">结束时间</td>
                              </tr>
                        </thead>
                    </table>
                </div>
                <div class="developTable" style="border:1px solid #e6e6e6;border-top:none;height:500px;overflow:auto;width:99.85%;">
                    <table class="sui-table table-bordered-simple" >
                        <tbody>
                          <tr style="border:none"  id="tr" ng-repeat="item in items">
                            <td style="border-left:none;" width="10%" class="center"><img style="width:40%;" ng-src="{{item.page_pic}}"></td>
                            <td style="border-right:none;" width="50%"  style="border-left:none;font-size:22px;;border-right: none"><a href="" ng-click="myDeliveryModal(item)">{{item.title}}</a></td>
                            <td width="20%" class="center" style="border-left:none;border-right: none;">{{item.pay_time}}</td>
                            <td  width="20%" class="center" style="border-left:none;border-right: none;color:red">{{item.deadline}}(已过期)</td>
                          </tr>
                          <tr ng-if="list.isLoading()">
                              <td colspan="4" style="padding:0;">
                              <div class="sui-msg msg-large msg-block msg-notice" style="padding:0;margin-bottom:0;">
                                <div class="msg-con">数据正在加载中,请稍后...</div>
                                <s class="msg-icon"></s>
                              </div>
                              </td>
                          </tr>
                          <tr ng-if="list.isLoadFailure()">
                              <td colspan="4" style="padding:0;">
                              <div class="sui-msg msg-large msg-block msg-error" style="padding:0;margin-bottom:0;">
                                <div class="msg-con">数据加载失败!!!</div>
                                <s class="msg-icon"></s>
                              </div>
                              </td>
                          </tr>
                          <tr ng-if="list.isEmpty()">
                              <td  colspan="4" style="padding:0;">
                              <div class="sui-msg msg-large msg-block msg-warning" style="padding:0;margin-bottom:0;">
                                <div class="msg-con">投放已过期文章列表为空!!!</div>
                                <s class="msg-icon"></s>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                    </table>
                </div>
                <div style="margin-top: 20px;">
                    <div class="sui-pagination goodsPage flexalign">
                        <div class="pageTotal">
                            <ul>
                                <li class="prev disabled"><a href="#">«上一页</a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li class="next disabled"><a href="#">下一页»</a></li>
                            </ul>
                            <div><span>共1页&nbsp;</span><span>
                                到
                                <input type="text" class="page-num"><button class="page-confirm" onclick="alert(1)">确定</button>
                                页</span></div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>

