<div>
    <div  style="font-size: 16.1px;">
        第一步：请设置分享到微信时显示的内容标题（将显示在<span class="text-danger">微信朋友圈</span>中
    </div>
    <div>
        <div class="weixinTitle"></div>
    </div>
<!--     <div class="col-sm-12">
        <ng-form ng-show="weixin.step.oneTitle" name="weixinTitle">
            <div class="form-group col-sm-12">
                <share-title activity="activity">
                    <div class="col-sm-3">
                        <a href="javascript:;" 
                            ng-click="weixin.step.onePageSetting=true;weixin.step.oneTitle=false;">
                        更多设置</a>
                    </div>
                </share-title>
            </div>
        </ng-form>
    </div> -->
   <!--  <div class="col-sm-12" ng-show="weixin.step.onePageSetting"> -->
    <activity-page-setting activity="activity" showComments="true"></activity-page-setting>
    <!-- </div> -->
</div>