<div style="text-align: center;">
	<div style="font-size: 16px; padding: 15px 15px 0;text-align: left;">
		打开手机微信 
		<i class="iconfont icon-weixin" style="font-size: 20px; color: #468847;"></i>
		，打开右上角菜单，点击【扫一扫】
	</div>
	<img ng-src="/image/share/weixinsao.png" 
		style="display: inline-block;margin-left: auto;margin-right: 25px;height: 250px;">
	<div style="display: inline-block;">
		<qrcode version="7" size="200" error-correction-level="M" data="{{weixin.qrcode}}"></qrcode>
	</div>
</div>
<div style="font-size: 16px;padding: 15px 15px 0;">
	<span>活动页面打开后，打开右上角菜单，点击【分享活动到朋友圈】 
		<i class="iconfont icon-pengyouquan" style="font-size: 20px; color: #ff8e1b;"></i>
		 ，<a href="javascript:;" ng-click="toPreviewTab()">点击预览</a>查看手机版活动详情
	</span>
	<div class="weixinMomentBack"></div>
</div>