<div class="container">
    <div class="container-innner">
        <div class="developphonedetail" style="display:flex;justify-content:flex-start;margin-top:30px;">
            <div class="developphonedetailtable" style="width:100%;float:left">
                <div class="developHeader flex">
                    <div style="text-align: center;font-size: 18px;width:100%;">
                        <div style="font-size:18px;font-weight: 700">尊敬的<span style="font-size:18px;">&nbsp;{{name}}&nbsp;</span>您好！</div>
                        <div style="margin:20px 0;">您目前可用的余额：<span style="font-size:18px;color:#ff0064;">{{price}}</span><a style="color:#000;text-decoration: none;font-size:12px;">元</span></a>
                    </div>
                </div>
            </div>
    </div>
</div>
</div>

