<div class="modal-dialog">
	<div class="modal-header">
			<button type="button" data-dismiss="modal" aria-hidden="true" class="sui-close">&times;</button>
			<h4 class="modal-title" id="postAreaModalTitle">选择赠送礼物</h4>
		</div>
		<div class="modal-body">
			<div class="sui-row-fluid scroll-wrap" style="max-height: 400px; overflow: scroll;">
				<activity-products-list list="productList" setting="setting" width="100%"></activity-products-list>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="sui-btn btn-primary btn-large" data-ok="modal" ng-click="sureGift()">确认</button>
			<button type="button" class="sui-btn btn-default btn-large" data-dismiss="modal">取消</button>
		</div>
	</div>
</div>
