<page-header page-title="流量无忧"></page-header>
<list list-service="productList">
	<div class="well">
	    <list-filter list-filter-init-promise="filterInitPromise">
	    	 <div class="form-group">
				 <label>商品数据来源</label>
				 <select class="form-control" ng-model="listFilterData.shopId" ng-options="source.id as source.displayName for source in productSources">
				 </select>
	        </div>
	    </list-filter>
	</div>

	<list-notify></list-notify>
	<div class="col-md-12 alert alert-danger" ng-show="errorStatus">
       {{errorMessage}}
    </div>
	<div class="col-md-12" style="margin-bottom: 5px;">
		<label><input type="checkbox" ng-model="productList.isSelectedAll" ng-change="selecteAll(productList.isSelectedAll)"> 全选</label>
		<a style="text-decoration: none; margin-top: 15px;" ng-href="#" ng-click="showInboxProducts()"><i class="fa fa-shopping-cart"></i> 已选择{{productList.inboxStorage.keyCount}}个商品</a>

		<div class="pull-right" ng-if="actions.length > 0">
			<div class="btn-group"><product-list-actions actions="actions"></product-list-actions></div>
		</div>
	</div>
	<div class="col-md-12">
		<table class="table table-striped">
		<thead>
			<tr class="info">
				<th style="width: 8%;">选择</th>
				<th style="width: 40%;">商品名</th>
				<th style="width: 10%;">价格</th>
			</tr>
		</thead>
		<tbody ng-repeat="product in productList.items" >
			<tr>
				<td>
					<input type="checkbox" ng-model="product.ischecked" >
				</td>
				<td>
					<div class="media">
						<div class="media-left"><img class="media-object" ng-src="{{product.picUrl ? product.picUrl : '/src/img/defaultProduct.jpg'}}" style="max-height:50px;"></div>
						<div class="media-body"><span class="media-heading">
							<a ng-href="https://item.taobao.com/item.htm?id={{product.numiid}}" target="_blank">{{product.title}}</a>

						</span></div>
					</div>
				</td>
				<td >
					{{product.price}}
				</td>
			</tr>
		</tbody>
	</table>
	</div>

	<list-pagination></list-pagination>
</list>