
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" ng-click="$close()" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">复制任务已开始</h4>
    </div>
    <div class="modal-body">
     
    <center><a href="/task/company/list" ng-click="$close()" class="btn btn-green-circle">查看复制进度</a> <a href="javascript:void(0);" class="btn btn-green-in" ng-click="$close()" >继续复制</a></center>
     
    </div>
    <div class="modal-footer">
      宝贝将直接复制到您的仓库中
    </div>
  </div><!-- /.modal-content -->