<step-bar steps="steps"></step-bar>
<form class="sui-form form-horizontal" sui-validate ng-submit="doCreate()">
	<div ng-include="'/template/promotion/promotionmisc/commonitem/form.tpl.html'"></div>
	<div align="center">
		<div class="sui-msg msg-block msg-error" ng-show="errorMessage">
			<div class="msg-con">{{errorMessage}}</div>
			<s class="msg-icon"></s>
		</div>
		<label class="control-label"></label>
		<div class="controls">
			<div ng-show="globalData.restart">
				<button type="button" class="sui-btn btn-success btn-xlarge" ng-show="globalData.restart" ng-click="restartNow()" ng-disabled="restarting"><div class="sui-loading loading-xxsmall loading-inline" ng-show="restarting"><i class="sui-icon icon-pc-loading"></i></div> 现在重启</button>
				<button type="submit" class="sui-btn btn-primary btn-xlarge"><i class="sui-icon icon-arrow-right"></i>修改商品</button>
			</div>
			<div ng-show="!globalData.restart">
				<button type="submit" class="sui-btn btn-primary btn-xlarge" ng-hide="editPage"><i class="sui-icon icon-arrow-right"></i>创建</button>
				<button type="button" class="sui-btn btn-primary btn-xlarge" ng-click="submitEdit()" ng-show="editPage">确认修改</button>
			</div>
		</div>
	</div>
</form>