<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" data-dismiss="modal" aria-hidden="true" class="sui-close">×</button>
            <h4 id="myModalLabel" class="modal-title">消息提示</h4>
        </div>
        <div class="modal-body">
           <div style="text-align: center;margin-top: 30px;">
               <i class="sui-icon icon-touch-face-sign" style="color: #ffa453;font-size: 25px;">投放成功</i>
           </div>
        </div>
        <div class="modal-footer" style="text-align: center;">
           <a href="" ng-click="reload()" data-ok="modal" class="sui-btn btn-primary btn-large" style="margin-right: 5px;">&nbsp;继续投放宝贝&nbsp;</a>
           <a href="" ui-state="'member.flowcarefree.goods.deliverybaby'" data-dismiss="modal" class="sui-btn btn-success btn-large" style="margin-left: 5px;">查看已投放宝贝</a>
        </div> 
    </div>
  </div>